.chord {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px #999;
    border-radius: 3pt;
    color: gray;
    display: flex;
    flex-flow: column;
    padding: 1em;
    margin: 1ex;
    transition: 200ms;
}

.chord .title b {
    padding-right: 1ex;
}

.chord .play button {
    margin: 0;
    padding: 2pt;
}

.chord .pitches {
    align-items: stretch;
    align-content: space-between;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    padding-top: 1ex;
}

.chord .pitches span {
    color: black;
    font-weight: bold;
    font-size: 120%;
    flex-grow: 1;
    padding-right: 3pt;
}

.chord.secondary {
    background-color: #ffffff;
}

.chord.playing {
    background-color: #dddddd;
    border-color: blue;
    transition: 200ms;
}

.chord small {
    padding: 0 1ex;
}
